node_modules/
demo/
.github
*.log

.babelrc
.eslintrc*
.prettierrc*
.stylelintrc*
rollup.config.js
vite.config.js
webpack.config.js
tsconfig.json

tests/
__tests__/
spec/
jest.config.js
.travis.yml
.circleci
coverage/
CONTRIBUTING.md
LICENSE.md (по желанию, обычно оставляют)

.DS_Store
.vscode/
.idea/
*.swp

.gitignore
.gitattributes