.rac-debug {
  flex-direction: column;
  display: flex;
  width: 100%;
  gap: 1em;
}

.rac-debug-bug {
  color: rgb(78, 201, 176);
}

.rac-debug .rac-props-pick {
  position: relative;

  &::before {
    min-width: calc(var(--n) * (var(--len) * 1ch + 2em));
    display: block;
    content: '';
  }
}

.rac-debug .rac-props-choices {
  --rac-pill-inset: 0;
  background-color: transparent;
  position: absolute;
  border-radius: 0;
  border: none;
  inset: 0;

  .rac-pill::before {
    border-radius: 0;
  }

  .rac-segmented-item {
    font-family: var(--rac-mono);
    transition: color 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
    align-content: center;
    border-radius: 0;
    font-size: inherit;
    padding: 0 1em;
    color: inherit;

    @media (hover: hover) {
      &:hover:not(:has(:checked)) {
        background-color: var(--rac-hover);
      }
    }

    &:has(:focus-visible) {
      outline: none;
    }
  }

  [data-tone='none'] {color: var(--rac-tok-blue);}
  [data-tone='on'] {color: var(--rac-tok-on);}
  [data-tone='off'] {color: var(--rac-tok-off);}
}

.rac-debug-call {display: flex;}
